// 通用變量：字元
$layout-text-content-fontsize-medium:15px;
$layout-text-content-fontsize-large:$layout-text-content-fontsize-medium*2;
$layout-text-link-fontsize:12px;

// 通用變量：字體顏色
$layout-text-link-fontcolor-white:#ffffff;
$layout-text-link-fontcolor-white-hover:rgba(255,255,255,0.5);

// 通用變量：背景
$layout-background-maincolor:#627088;

// 特定變量
$progress-height: 25px;
$brand-accent: #ffe4ca;